@charset "utf-8";

/*written by Vincenzo_Santamaria*/


/*****MARGIN-TOP*****/

.mrgTop0{margin-top:0;}
.mrgTop2{margin-top:2px;}
.mrgTop4{margin-top:4px;}
.mrgTop6{margin-top:6px;}
.mrgTop8{margin-top:8px;}
.mrgTop10{margin-top:10px;}
.mrgTop12{margin-top:12px;}
.mrgTop14{margin-top:14px;}
.mrgTop16{margin-top:16px;}
.mrgTop18{margin-top:18px;}
.mrgTop20{margin-top:20px;}
.mrgTop22{margin-top:22px;}
.mrgTop24{margin-top:24px;}
.mrgTop26{margin-top:26px;}
.mrgTop28{margin-top:28px;}
.mrgTop30{margin-top:30px;}
.mrgTop32{margin-top:32px;}
.mrgTop34{margin-top:34px;}
.mrgTop36{margin-top:36px;}
.mrgTop38{margin-top:38px;}
.mrgTop40{margin-top:40px;}
.mrgTop42{margin-top:42px;}
.mrgTop44{margin-top:44px;}
.mrgTop46{margin-top:46px;}
.mrgTop48{margin-top:48px;}
.mrgTop50{margin-top:50px;}
.mrgTop100{margin-top:100px;}

/*****MARGIN-BOTTOM*****/

.mrgBtm0{margin-bottom:0;}
.mrgBtm2{margin-bottom:2px;}
.mrgBtm4{margin-bottom:4px;}
.mrgBtm6{margin-bottom:6px;}
.mrgBtm8{margin-bottom:8px;}
.mrgBtm10{margin-bottom:10px;}
.mrgBtm12{margin-bottom:12px;}
.mrgBtm14{margin-bottom:14px;}
.mrgBtm16{margin-bottom:16px;}
.mrgBtm18{margin-bottom:18px;}
.mrgBtm20{margin-bottom:20px;}
.mrgBtm22{margin-bottom:22px;}
.mrgBtm24{margin-bottom:24px;}
.mrgBtm26{margin-bottom:26px;}
.mrgBtm28{margin-bottom:28px;}
.mrgBtm30{margin-bottom:30px;}
.mrgBtm32{margin-bottom:32px;}
.mrgBtm34{margin-bottom:34px;}
.mrgBtm36{margin-bottom:36px;}
.mrgBtm38{margin-bottom:38px;}
.mrgBtm40{margin-bottom:40px;}
.mrgBtm42{margin-bottom:42px;}
.mrgBtm44{margin-bottom:44px;}
.mrgBtm46{margin-bottom:46px;}
.mrgBtm48{margin-bottom:48px;}
.mrgBtm50{margin-bottom:50px;}
.mrgBtm100{margin-bottom:100px;}

/*****MARGIN-LEFT*****/

.mrgLft0{margin-left:0;}
.mrgLft2{margin-left:2px;}
.mrgLft4{margin-left:4px;}
.mrgLft6{margin-left:6px;}
.mrgLft8{margin-left:8px;}
.mrgLft10{margin-left:10px;}
.mrgLft12{margin-left:12px;}
.mrgLft14{margin-left:14px;}
.mrgLft16{margin-left:16px;}
.mrgLft18{margin-left:18px;}
.mrgLft20{margin-left:20px;}
.mrgLft22{margin-left:22px;}
.mrgLft24{margin-left:24px;}
.mrgLft26{margin-left:26px;}
.mrgLft28{margin-left:28px;}
.mrgLft30{margin-left:30px;}
.mrgLft32{margin-left:32px;}
.mrgLft34{margin-left:34px;}
.mrgLft36{margin-left:36px;}
.mrgLft38{margin-left:38px;}
.mrgLft40{margin-left:40px;}
.mrgLft42{margin-left:42px;}
.mrgLft44{margin-left:44px;}
.mrgLft46{margin-left:46px;}
.mrgLft48{margin-left:48px;}
.mrgLft50{margin-left:50px;}

/*****MARGIN-RIGHT*****/

.mrgRht0{margin-right:0;}
.mrgRht2{margin-right:2px;}
.mrgRht4{margin-right:4px;}
.mrgRht6{margin-right:6px;}
.mrgRht8{margin-right:8px;}
.mrgRht10{margin-right:10px;}
.mrgRht12{margin-right:12px;}
.mrgRht14{margin-right:14px;}
.mrgRht16{margin-right:16px;}
.mrgRht18{margin-right:18px;}
.mrgRht20{margin-right:20px;}
.mrgRht22{margin-right:22px;}
.mrgRht24{margin-right:24px;}
.mrgRht26{margin-right:26px;}
.mrgRht28{margin-right:28px;}
.mrgRht30{margin-right:30px;}
.mrgRht32{margin-right:32px;}
.mrgRht34{margin-right:34px;}
.mrgRht36{margin-right:36px;}
.mrgRht38{margin-right:38px;}
.mrgRht40{margin-right:40px;}
.mrgRht42{margin-right:42px;}
.mrgRht44{margin-right:44px;}
.mrgRht46{margin-right:46px;}
.mrgRht48{margin-right:48px;}
.mrgRht50{margin-right:50px;}

/*****MARGIN*****/

.mrg0{margin:0;}
.mrg2{margin:2px;}
.mrg4{margin:4px;}
.mrg6{margin:6px;}
.mrg8{margin:8px;}
.mrg10{margin:10px;}
.mrg12{margin:12px;}
.mrg14{margin:14px;}
.mrg16{margin:16px;}
.mrg18{margin:18px;}
.mrg20{margin:20px;}
.mrg22{margin:22px;}
.mrg24{margin:24px;}
.mrg26{margin:26px;}
.mrg28{margin:28px;}
.mrg30{margin:30px;}
.mrg32{margin:32px;}
.mrg34{margin:34px;}
.mrg36{margin:36px;}
.mrg38{margin:38px;}
.mrg40{margin:40px;}
.mrg42{margin:42px;}
.mrg44{margin:44px;}
.mrg46{margin:46px;}
.mrg48{margin:48px;}
.mrg50{margin:50px;}

/*****MARGIN-AUTO*****/

.mrgAuto0{margin:0 auto;}
.mrgAuto2{margin:2% auto;}
.mrgAuto4{margin:4% auto;}
.mrgAuto6{margin:6% auto;}
.mrgAuto8{margin:8% auto;}
.mrgAuto10{margin:10% auto;}
.mrgAuto12{margin:12% auto;}
.mrgAuto14{margin:14% auto;}
.mrgAuto16{margin:16% auto;}
.mrgAuto18{margin:18% auto;}
.mrgAuto20{margin:20% auto;}
.mrgAuto22{margin:22% auto;}
.mrgAuto24{margin:24% auto;}
.mrgAuto26{margin:26% auto;}
.mrgAuto28{margin:28% auto;}
.mrgAuto30{margin:30% auto;}
.mrgAuto32{margin:32% auto;}
.mrgAuto34{margin:34% auto;}
.mrgAuto36{margin:36% auto;}
.mrgAuto38{margin:38% auto;}
.mrgAuto40{margin:40% auto;}
.mrgAuto42{margin:42% auto;}
.mrgAuto44{margin:44% auto;}
.mrgAuto46{margin:46% auto;}
.mrgAuto48{margin:48% auto;}
.mrgAuto50{margin:50% auto;}




/*****PADDING-TOP*****/

.pdgTop0{padding-top:0;}
.pdgTop2{padding-top:2px;}
.pdgTop4{padding-top:4px;}
.pdgTop6{padding-top:6px;}
.pdgTop8{padding-top:8px;}
.pdgTop10{padding-top:10px;}
.pdgTop12{padding-top:12px;}
.pdgTop14{padding-top:14px;}
.pdgTop16{padding-top:16px;}
.pdgTop18{padding-top:18px;}
.pdgTop20{padding-top:20px;}
.pdgTop22{padding-top:22px;}
.pdgTop24{padding-top:24px;}
.pdgTop26{padding-top:26px;}
.pdgTop28{padding-top:28px;}
.pdgTop30{padding-top:30px;}
.pdgTop32{padding-top:32px;}
.pdgTop34{padding-top:34px;}
.pdgTop36{padding-top:36px;}
.pdgTop38{padding-top:38px;}
.pdgTop40{padding-top:40px;}
.pdgTop42{padding-top:42px;}
.pdgTop44{padding-top:44px;}
.pdgTop46{padding-top:46px;}
.pdgTop48{padding-top:48px;}
.pdgTop50{padding-top:50px;}

/*****PADDING-BOTTOM*****/

.pdgBtm0{padding-bottom:0;}
.pdgBtm2{padding-bottom:2px;}
.pdgBtm4{padding-bottom:4px;}
.pdgBtm6{padding-bottom:6px;}
.pdgBtm8{padding-bottom:8px;}
.pdgBtm10{padding-bottom:10px;}
.pdgBtm12{padding-bottom:12px;}
.pdgBtm14{padding-bottom:14px;}
.pdgBtm16{padding-bottom:16px;}
.pdgBtm18{padding-bottom:18px;}
.pdgBtm20{padding-bottom:20px;}
.pdgBtm22{padding-bottom:22px;}
.pdgBtm24{padding-bottom:24px;}
.pdgBtm26{padding-bottom:26px;}
.pdgBtm28{padding-bottom:28px;}
.pdgBtm30{padding-bottom:30px;}
.pdgBtm32{padding-bottom:32px;}
.pdgBtm34{padding-bottom:34px;}
.pdgBtm36{padding-bottom:36px;}
.pdgBtm38{padding-bottom:38px;}
.pdgBtm40{padding-bottom:40px;}
.pdgBtm42{padding-bottom:42px;}
.pdgBtm44{padding-bottom:44px;}
.pdgBtm46{padding-bottom:46px;}
.pdgBtm48{padding-bottom:48px;}
.pdgBtm50{padding-bottom:50px;}

/*****PADDING-LEFT*****/

.pdgLft0{padding-left:0;}
.pdgLft2{padding-left:2%;}
.pdgLft4{padding-left:4%;}
.pdgLft6{padding-left:6%;}
.pdgLft8{padding-left:8%;}
.pdgLft10{padding-left:10%;}
.pdgLft12{padding-left:12%;}
.pdgLft14{padding-left:14%;}
.pdgLft16{padding-left:16%;}
.pdgLft18{padding-left:18%;}
.pdgLft20{padding-left:20%;}
.pdgLft22{padding-left:22%;}
.pdgLft24{padding-left:24%;}
.pdgLft26{padding-left:26%;}
.pdgLft28{padding-left:28%;}
.pdgLft30{padding-left:30%;}
.pdgLft32{padding-left:32%;}
.pdgLft34{padding-left:34%;}
.pdgLft36{padding-left:36%;}
.pdgLft38{padding-left:38%;}
.pdgLft40{padding-left:40%;}
.pdgLft42{padding-left:42%;}
.pdgLft44{padding-left:44%;}
.pdgLft46{padding-left:46%;}
.pdgLft48{padding-left:48%;}
.pdgLft50{padding-left:50%;}

/*****PADDING-RIGHT*****/

.pdgRht0{padding-right:0;}
.pdgRht2{padding-right:2%;}
.pdgRht4{padding-right:4%;}
.pdgRht6{padding-right:6%;}
.pdgRht8{padding-right:8%;}
.pdgRht10{padding-right:10%;}
.pdgRht12{padding-right:12%;}
.pdgRht14{padding-right:14%;}
.pdgRht16{padding-right:16%;}
.pdgRht18{padding-right:18%;}
.pdgRht20{padding-right:20%;}
.pdgRht22{padding-right:22%;}
.pdgRht24{padding-right:24%;}
.pdgRht26{padding-right:26%;}
.pdgRht28{padding-right:28%;}
.pdgRht30{padding-right:30%;}
.pdgRht32{padding-right:32%;}
.pdgRht34{padding-right:34%;}
.pdgRht36{padding-right:36%;}
.pdgRht38{padding-right:38%;}
.pdgRht40{padding-right:40%;}
.pdgRht42{padding-right:42%;}
.pdgRht44{padding-right:44%;}
.pdgRht46{padding-right:46%;}
.pdgRht48{padding-right:48%;}
.pdgRht50{padding-right:50%;}

/*****PADDING*****/

.pdg0{padding:0;}
.pdg2{padding:2%;}
.pdg4{padding:4%;}
.pdg6{padding:6%;}
.pdg8{padding:8%;}
.pdg10{padding:10%;}
.pdg12{padding:12%;}
.pdg14{padding:14%;}
.pdg16{padding:16%;}
.pdg18{padding:18%;}
.pdg20{padding:20%;}
.pdg22{padding:22%;}
.pdg24{padding:24%;}
.pdg26{padding:26%;}
.pdg28{padding:28%;}
.pdg30{padding:30%;}
.pdg32{padding:32%;}
.pdg34{padding:34%;}
.pdg36{padding:36%;}
.pdg38{padding:38%;}
.pdg40{padding:40%;}
.pdg42{padding:42%;}
.pdg44{padding:44%;}
.pdg46{padding:46%;}
.pdg48{padding:48%;}
.pdg50{padding:50%;}





/*****FLOAT*****/

.floatLft{float:left;}
.floatRht{float:right;}




/*****WIDTH*****/

.wdtAuto{width:Auto;}
.wdt0{width:0;}
.wdt5{width:5%;}
.wdt10{width:10%;}
.wdt15{width:15%;}
.wdt20{width:20%;}
.wdt25{width:25%;}
.wdt30{width:30%;}
.wdt35{width:35%;}
.wdt40{width:40%;}
.wdt45{width:45%;}
.wdt50{width:50%;}
.wdt55{width:55%;}
.wdt60{width:60%;}
.wdt65{width:65%;}
.wdt70{width:70%;}
.wdt75{width:75%;}
.wdt80{width:80%;}
.wdt85{width:85%;}
.wdt90{width:90%;}
.wdt95{width:95%;}
.wdt100{width:100%;}

/*****HEIGHT*****/

.hgtAuto{height:Auto;}
.hgt0{height:0;}
.hgt5{height:5vh;}
.hgt10{height:10vh;}
.hgt15{height:15vh;}
.hgt20{height:20vh;}
.hgt25{height:25vh;}
.hgt30{height:30vh;}
.hgt35{height:35vh;}
.hgt40{height:40vh;}
.hgt45{height:45vh;}
.hgt50{height:50vh;}
.hgt55{height:55vh;}
.hgt60{height:60vh;}
.hgt65{height:65vh;}
.hgt70{height:70vh;}
.hgt75{height:75vh;}
.hgt80{height:80vh;}
.hgt85{height:85vh;}
.hgt90{height:90vh;}
.hgt95{height:95vh;}
.hgt100{height:100vh;}




/*****DISPLAY*****/

.dNone{display:none;}
.dBlk{display:block;}
.dIln{display:inline;}
.dBlk-Iln{display:inline-block;}




/*****POSITION*****/

.pAbs{position:absolute;}
.pRel{position:relative;}
.pFix{position:fixed;}




/*****TOP*****/

.top0{top:0;}
.top2{top:2%;}
.top4{top:4%;}
.top6{top:6%;}
.top8{top:8%;}
.top10{top:10%;}
.top12{top:12%;}
.top14{top:14%;}
.top16{top:16%;}
.top18{top:18%;}
.top20{top:20%;}
.top22{top:22%;}
.top24{top:24%;}
.top26{top:26%;}
.top28{top:28%;}
.top30{top:30%;}
.top32{top:32%;}
.top34{top:34%;}
.top36{top:36%;}
.top38{top:38%;}
.top40{top:40%;}
.top42{top:42%;}
.top44{top:44%;}
.top46{top:46%;}
.top48{top:48%;}
.top50{top:50%;}

/*****BOTTOM*****/

.btm0{bottom:0;}
.btm2{bottom:2%;}
.btm4{bottom:4%;}
.btm6{bottom:6%;}
.btm8{bottom:8%;}
.btm10{bottom:10%;}
.btm12{bottom:12%;}
.btm14{bottom:14%;}
.btm16{bottom:16%;}
.btm18{bottom:18%;}
.btm20{bottom:20%;}
.btm22{bottom:22%;}
.btm24{bottom:24%;}
.btm26{bottom:26%;}
.btm28{bottom:28%;}
.btm30{bottom:30%;}
.btm32{bottom:32%;}
.btm34{bottom:34%;}
.btm36{bottom:36%;}
.btm38{bottom:38%;}
.btm40{bottom:40%;}
.btm42{bottom:42%;}
.btm44{bottom:44%;}
.btm46{bottom:46%;}
.btm48{bottom:48%;}
.btm50{bottom:50%;}

/*****LEFT*****/

.lft0{left:0;}
.lft2{left:2%;}
.lft4{left:4%;}
.lft6{left:6%;}
.lft8{left:8%;}
.lft10{left:10%;}
.lft12{left:12%;}
.lft14{left:14%;}
.lft16{left:16%;}
.lft18{left:18%;}
.lft20{left:20%;}
.lft22{left:22%;}
.lft24{left:24%;}
.lft26{left:26%;}
.lft28{left:28%;}
.lft30{left:30%;}
.lft32{left:32%;}
.lft34{left:34%;}
.lft36{left:36%;}
.lft38{left:38%;}
.lft40{left:40%;}
.lft42{left:42%;}
.lft44{left:44%;}
.lft46{left:46%;}
.lft48{left:48%;}
.lft50{left:50%;}

/*****RIGHT*****/

.rht0{right:0;}
.rht2{right:2%;}
.rht4{right:4%;}
.rht6{right:6%;}
.rht8{right:8%;}
.rht10{right:10%;}
.rht12{right:12%;}
.rht14{right:14%;}
.rht16{right:16%;}
.rht18{right:18%;}
.rht20{right:20%;}
.rht22{right:22%;}
.rht24{right:24%;}
.rht26{right:26%;}
.rht28{right:28%;}
.rht30{right:30%;}
.rht32{right:32%;}
.rht34{right:34%;}
.rht36{right:36%;}
.rht38{right:38%;}
.rht40{right:40%;}
.rht42{right:42%;}
.rht44{right:44%;}
.rht46{right:46%;}
.rht48{right:48%;}
.rht50{right:50%;}




/*****TEXT-ALIGN*****/

.txtCtr{text-align:center;}
.txtLft{text-align:left;}
.txtRht{text-align:right;}




/*****TEXT-TRANSFORM*****/

.txtUpp{text-transform:uppercase;}
.txtCap{text-transform:capitalize;}
.txtLow{text-transform:lowercase;}




/*****FONT-WEIGHT*****/

.fntBold{font-weight:bold;}
.fntLgt{font-weight:lighter;}
.fntB100{font-weight:100;}
.fntB200{font-weight:200;}
.fntB400{font-weight:400;}
.fntB500{font-weight:500;}
.fntB600{font-weight:600;}
.fntB700{font-weight:700;}
.fntB800{font-weight:800;}
.fntB900{font-weight:900;}




/*****FONT-SIZE*****/

.fntSz0{font-size:0;}
.fntSz2{font-size:2px;}
.fntSz4{font-size:4px;}
.fntSz6{font-size:6px;}
.fntSz8{font-size:8px;}
.fntSz10{font-size:10px;}
.fntSz12{font-size:12px;}
.fntSz14{font-size:14px;}
.fntSz16{font-size:16px;}
.fntSz18{font-size:18px;}
.fntSz20{font-size:20px;}
.fntSz22{font-size:22px;}
.fntSz24{font-size:24px;}
.fntSz26{font-size:26px;}
.fntSz28{font-size:28px;}
.fntSz30{font-size:30px;}
.fntSz32{font-size:32px;}
.fntSz34{font-size:34px;}
.fntSz36{font-size:36px;}
.fntSz38{font-size:38px;}
.fntSz40{font-size:40px;}
.fntSz42{font-size:42px;}
.fntSz44{font-size:44px;}
.fntSz46{font-size:46px;}
.fntSz48{font-size:48px;}
.fntSz50{font-size:50px;}