
.zoom,#topButton {
  position: fixed;
  bottom: 15px;
  right: 24px;
  height: 70px;
  z-index: 99;    
}

.zoom-fab{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 44px;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);    
  cursor: pointer;
  color: #FFF;
}
/*
.zoom-fab:hover {
  background-color: #4db6ac;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
*/

.zoom-fab-active{
    background-color:#F1F3F4;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large i{
    color: #8bc34a;
    font-size: 20px;
}

.zoom-menu i{
    font-size: 20px;
}

.zoom-btn-large {
  width: 55px;
  height: 55px;
  line-height: 60px;
}

.zoom-menu .zoom-fab{ background-color: #fff; }

.zoom-menu .fa-gamepad{ color: #34A853;opacity:.8; }
.zoom-menu .fa-newspaper{ color: #FBBC05;opacity:.8; }
.zoom-menu .fa-bell{ color: #EA4335;opacity:.8; }
.zoom-menu .fa-align-left{ color: #4285F4;opacity:.8; }
.zoom-menu .fa-edit{ color: #FF6C0D;opacity:.8; }
.zoom-menu .fa-info{ color: #666;opacity:.8; }

.zoom-menu {
  position: absolute;
  right: 8px;
  left: auto;
  top: -282px;
  transform: translateY(-50%);
  height: 100%;
  list-style: none;
  text-align: right;
  padding-left: 0!important;   
  z-index: 99;   
  pointer-events: none;
}

.zoom-menu li {
  display: block;
  margin-bottom: 10px;
}

.zoom-menu a{pointer-events: auto;}

.fa-ellipsis-v{
    opacity: 0;
    position: relative;
    right: 8px;
}

.fa-bars{
    position: relative;
    left: 4px;
}

.fa-bars-out{
    animation: menu-out 0.3s;
    transition: all 0.3s;
}

.fa-bars-in{
    animation: menu-in 0.15s linear;
    animation-fill-mode: forwards;
}

.fa-ellipsis-out{
    transition: all 0.3s;
    animation: dots-out 0.3s;
}

.fa-ellipsis-in{
    animation: dots-in 0.2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.zoom-card {
  position: absolute;
  right: 150px;
  bottom: 70px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: left;
}

.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {  
  transform: scale(0);
  transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }

@keyframes dots-in{
from {opacity: 0; transform: rotateZ(-70deg);}
to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes dots-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes menu-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes menu-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

