@charset "utf-8";

.modal-backdrop{display:none!important;}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.preloader{
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img{
    position: absolute;
    width: 250px;
}

/*** EXEPTIONS ***/

#reviewSec .mdl-cell{border-radius:10px;}

#fbButton,#twtButton{transition:.7s;}

#fbButton:hover{background-color:#3b5998;}
#twtButton:hover{background-color:#1dcaff;}

.smoothScroll{overflow-y: scroll; scroll-behavior: smooth;}

.mdl-mega-footer--social-btn{cursor:pointer;}

input,textarea:focus{
 outline:none;
}

.sectionHR{width:50%;margin:3rem auto;border-width:3px;border-color:rgba(204,204,204,.6);}

.mrgTop200{margin-top:200px;}

.shadow{
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.wdt100vw{
    width: 100vw;
}

.carouselHR{
    border-width:4px;
    width:40px;margin:10px auto;
    border-color: rgba(255,255,255,.7);
}

.titleLine{
    border-color: #8bc34a;
    max-width: 50px;
    border-width: 3px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 1.5rem auto;
}

.mapGoogle{border-radius:12px;overflow:hidden;}
/*
#reviewSec{
    background: linear-gradient(#fff 50%, #F5F5F5 50%) no-repeat;
    background-position: bottom;
}
*/
/*** NAV ***/

#mainNav a.navigation__linkCurrent{border-bottom: 4px solid #8bc34a;transition:.2s;}

.logoCS{
    width: 40px;
    height: auto;
}

.logoIMG{
    width: 120px;
    height: auto;
}

.titleCS{
    color: #999;
    font-size: 23px;
    line-height: 45px;
    font-family: 'Saira Extra Condensed', serif;
}

.titleCSSpan{
    color: #ff6500;
}

#userIcon{color:#8bc34a;}

.carousel-caption h3{
    animation: animH3 2s 1 ease;
}

.carousel-caption p,.carousel-caption h4{
    animation: animP 3.5s 1 ease;
}

.carousel-caption hr{
    animation: animHr 2s 1 ease-in;
}

@keyframes animH3{
    0%{opacity: 0; transform:translate(50px,0);}
    100%{opacity: 1; transform:translate(0,0);}
}

@keyframes animHr{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}


@keyframes animP{
    0%{opacity: 0; transform:translate(-50px,0);}
    60%{opacity: 0; transform:translate(-20px,0);}
    100%{opacity: 1; transform:translate(0,0);}
}


/*** FEATURES ***/

.feature-item{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    max-width: 325px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.feature-cln{
    position: relative;
    width: 100%;
    min-height: 1px;
}

.feature-item .fa-gamepad,
.feature-item .fa-hands-helping,
.feature-item .fa-gift,
.feature-item .fa-chess{
    font-size: 60px;
}

.feature-item .fa-gamepad{color:#8bc34a;}
.feature-item .fa-hands-helping{color:#EFB096}
.feature-item .fa-gift{color:#8EDAE8;}
.feature-item .fa-chess{color:#E8D760;}

.feature-cln{transform:scale(0);transition:.4s cubic-bezier(0.53, 0.01, 0.36, 1.63);}

#feat1{transition-delay: .2s;}
#feat2{transition-delay: .8s;}
#feat3{transition-delay: 1.4s;}
#feat4{transition-delay: 2s;}

.feature-cln.scale1{transform:scale(1);}

/*** TABLE ***/

table{border-spacing:0;}

table tr {
  border-bottom: none;
}

table > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
}

table.striped > tbody > tr > td {
  border-radius: 0;
  padding-left: 7px;    
}



/*** INFO PAGE ***/

.eComm{
    font-size: 62%;
}

.mailSpan{
    color: #999;
}

/*** FORM ***/

#contactForm,#avaibleForm{
    border-radius: 10px;
}
   
#sxForm,#dxForm,#mailSent{
    width: 90%;
    height: 415px;
    position: relative;
    color: #666;
}

#formText{
    background-color: #F5F5F5;
    max-width: none;
    padding: 1px 0;
    border-radius: 10px 10px 0 0;
}

#first_name,#last_name,#email{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: 0.3s;
}

.input-field label{
    position: relative;
    bottom: 40px;
    transition: 0.3s;
    color: #9e9e9e;
    font-size: 16px;
}

.labelOut{color:#8bc34a !important;
    bottom:65px  !important;
    font-weight:700  !important;
    font-size:12px !important;
}

.input-field input:focus + label{color:#8bc34a;bottom:65px;font-weight:700;font-size:12px;}
.input-field textarea:focus + label{color:#8bc34a;bottom:105px;font-weight:700;font-size:12px;}

.input-field input:focus{border-color:#8bc34a;}
.input-field #textarea1:focus{border-color:#8bc34a;border-width:2px;}

.input-field input{font-size: 18px;}
.input-field textarea{font-size: 18px;}
.input-field #gameID{font-size: 15px;}

.input-field input:focus + label:after{content:':';}
.input-field #textarea1:focus + label:after{content:':';}

.input-field input:hover + label{color:#8bc34a;}
.input-field #textarea1:hover + label{color:#8bc34a;}

#textarea1{
    border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
    display: block;
    height: 34px;
    margin-top: 10px;
    border-color: #ccc;
    padding-bottom: 5px;
    padding-top: 30px;
}

#gameID{
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px 0;
    margin-bottom: 20px;
}

#formButton,#avaibleButton{
    border: none;
    border-radius: 3px;
    background: #8bc34a;
    height: 35px;
    color: #fff;
    right: 10px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
}

#formButton{bottom: 10px;}

#avaibleButton{bottom: 40px;}

#formButton:hover,#avaibleButton:hover{opacity: 0.8;}

#radioChoice{
    float: left;
}

#radioChoice input[type="radio"]{opacity:0;width:0;height:0;display:none;}
#dxForm input[type="checkbox"]{opacity:0;width:0;height:0;display:none;}

#radioBtns .radioInput:before{
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: 2px;
    left: 0px;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    visibility: visible;
    content:'';
}

#radioChoice input[type="radio"]:checked + .radioInput:before{
    width: 14px;
    height: 14px;
    border-radius: 15px;
    top: 2px;
    left: 0px;
    position: relative;
    background: #8bc34a;
    border: none;
    display: inline-block;
    visibility: visible;
    content:'';
}

#dxForm .checkInput:before{
    width: 11px;
    height: 11px;
    border-radius: 3px;
    top: 2px;
    left: 0px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    background: #fff;
    border: 1px solid #ccc;
    margin-left: 2px;
}

#dxForm input[type="checkbox"]:checked + .checkInput:before{
    width: 13px;
    height: 13px;
    border-radius: 3px;
    top: 2px;
    left: 0px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    background: #8bc34a;
    border: none;
    margin-left: 2px;
}

#formButton img,
#avaibleButton img{
    width: 14px;
    height: auto;
    margin-left: 7px;
    margin-bottom: 2px;
}

#contactForm{
    height: 665px;
    background-color:#fff;
}

#avaibleForm{
    height: 400px;
    background-color:#fff;
}

#contactSec{
    padding: 100px 0 150px 0;
    position: relative;
    background-position: 50% 50%;
    background: url('../images/img/flow3.jpg') repeat-y;
}

#formContainer{;z-index:99;}

/*** FOOTER SOCIAL ***/

.fa-facebook-f,.fa-twitter{
    color: #fff;
    font-size: 20px;
}

.roundedSocial{
    border-radius: 50%;
}

/*** SUBSCRIBE ***/

#subscribe{
    display: block;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 0;
    width: 100%;
}

#subButton{
    border: 1px solid #8bc34a;
    padding: 7px;
    margin-top: 10px;
    background-color: #8bc34a;
    border-radius: 0 5px 5px 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

#subscribeForm input{
    border: 1px solid #8bc34a;
    margin-top: 10px;
    margin-bottom: 22px;
    display: block;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 7px;
    width: 180px;
    border-radius: 5px 0 0 5px;
}

@media all and (max-width: 426px){
    
    
    #formButton,#avaibleButton{
        width: 96%;
        margin-top: 30px;
    }
    
    #avaibleForm{height:435px;}
    
    #first_name,#last_name,#email,#textarea1{
        width: 100%!important;
    }
    
    .android-customized-section-image{
        height: 1400px!important;
    }
    
    
    section[name="info"]{
        padding: 200px 0;
    }
    
    #fbLike{margin-left:0;}
}

.mapGoogle{
    text-align: center;
    margin-top: 65px;
}

@media all and (min-width: 427px and max-width: 768px){
    
    #formContainer{height:1170px;}
    
    #contactForm{height:665px !important;}
    
}

@media all and (min-width: 426px){
    
    #formContainer{
        height: 630px;
    }
    
    #hrForm{display:none;}
    
    #radioChoice{
        width: 84%;
    }

    
    #first_name,#last_name,#email,#textarea1,#gameID{
        width: 98%;
    }
    
    #formButton{
        width: 75px;
    }

    #avaibleButton{
        width: 100px;
    }
    
    #formButton,#avaibleButton{position: absolute;}
    
    #sxForm,#mailSent{margin-left:40px;}
    
    #dxForm{margin-right:12px;}

}

@media all and (max-width: 612px){
    
    #radioChoice{width:100%;}
    
    table{width:100%;margin:0 auto;}
    
}   

@media all and (min-width: 613px){
    
    table{width:350px;}
}

@media all and (min-width: 426px) and (max-width: 767px){
    
    #avaibleButton{bottom:50px;right:20px;}
    
}

@media all and (max-width: 767px){
    
    #formContainer{height:1190px;width:92%;margin:0 auto;}
    
    #contactForm,#avaibleForm{
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
    }
    
    #avaibleForm{margin-top: 50px!important;}
    
    #first_name,#last_name,#email,#textarea1,#gameID{
        width: 100%;
    }
    
    #sxForm,#mailSent{margin-left:12px;}
    
    #dxForm{margin-right:12px;}
    
    #avaibleButton{
        float: none;
    }
    
    #hrForm{width:90%;margin:0 auto;position:relative;top:75px;border-width:2px;}
    
}

@media all and (min-width: 768px){
    
    #contactForm{
        width: 65%;
        float: left;
    }
    
    #avaibleForm{margin-top: 229px!important;}
    
    #avaibleForm{
        width: 30%;
        float: right;
        margin-top: 265px!important;
    }
    
    .mapGoogle{
        width: 300px;
        height: 250px;
        position: absolute;
        right: 100px;
        top: 0;
    }
    
    #infoSec{
        height: 415px;
    } 
    
}

@media all and (min-width: 768px) and (max-width: 992px){
    #avaibleForm{
        height: 478px !important;
        margin-top: 186px!important;
    }
    
    #avaibleButton{bottom:-30px;}
}

@media all and (max-width: 900px){
    
    .modal-desc-text{width:100%;}
    
    #userIcon{display:none;}
    
    .logoTitle{width:120px;height:auto;margin-bottom:10px;margin-left:10px;}
    
    .android-customized-section-image{
        height: 1600px;
        background-image: url('../images/img/featuresM.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: bottom;
    }
    
    .zoom2 {     
        display: none;
    }
    
}

@media all and (min-width: 901px){
    
    .modal-desc-text{width:70%;}
    
    .carouselMyHgt{height:93vh!important;}
    
    .colWdt{
        max-width: 45%!important;
    }
    
    .mrgFeatures{
        margin-top: 150px;
    }
    
    .android-customized-section-image{
        height: 900px!important;
        background-image: url('../images/img/featuresH.jpg');
        background-repeat: no-repeat;
        background-size: 40% auto;
        background-position: 168% 50%;
        transition: 1s cubic-bezier(0.53, 0.01, 0.36, 1);
    }
    
    .android-customized-section-image.translate-image{background-position: 100% 50%;}

    #reviewSec .mdl-cell{
        transition: 0.3s;
    }
    
    #reviewSec .mdl-cell:hover{
        box-shadow:0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
    }
    
    #newsSec{
        background-image: url('../images/img/one_pad.png');
        background-repeat: no-repeat;
        background-position: 160% 0;
        background-size: 60% auto;
    }
    
    #reviewSec{
        background-image: url('../images/img/ps4_pad.jpeg');
        background-repeat: no-repeat;
        background-position: -14% 50%;
        background-size: 40% auto;
    }
    
    
    /* FLOATING BUTTON */
    
    .zoom {     
        display: none;
    }
    
    #productSec{height:717px;}
    
}
    
