@charset "utf-8";

/*** NEWS ***/

.borderR{border-radius:10px;}

.newsDate{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #FF7264;
    font-size: 12px;
    z-index: 99;
}
/*
.android-wear-section{
    background: linear-gradient(#fff 50%, #8bc34a 50%);
}
*/
.newsMainTitle{margin-left:20px;}

.android-wear-section{height:auto!important;}

.newsCont1,
.newsCont2,
.newsCont3,
.newsCont4,
.newsCont5,
.newsCont6,
.newsCont7,
.newsCont8{border-radius:10px;transition:0.3s;}

#BG{
    background-color: #8bc34a;
}



@media all and (max-width: 612px){

    #newsSec{padding:80px 0;}
    
    .newsCont2,
    .newsCont3,
    .newsCont4{display:none;}
    
    .newsCont1{
        width: calc(100% - 16px) !important;
    }
    
}   

@media all and (min-width: 613px){
    
    .newsDateGreen{color:#8bc34a!important;}
    
    .newsCont1{
        width: calc(70% - 16px)!important;
        height: 522px;
        border-radius: 10px;
        margin-right: 8px;
    }
    
    .bigTitle{
        z-index:20;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.4) !important;
    }
    
    .bigTitle h4,.bigTitle span{color: #fff !important;}
    
    .bigMedia{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    .bigMedia img{
        width: 100%;
        height: 100%;
    }
    
    .smallMedia{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    .smallTitle{
        z-index:20;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.4) !important;
    }
    
    .mdl-card__title a{
        text-decoration: none;
    }
    
    .smallTitle h4{
        color: #fff !important;
    }
    
    .smallNewsCont{
        width: calc(30% - 16px);
        height: 522px;
        border-radius: 0 10px 10px 0;
        margin-right: 8px;
    }
    
    .smallNewsCont img{
        width: 100%;
        height: 100%;
    }
    
    .newsCont2{
        width: 100%!important;
        height: calc(174px - 10px);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8px;
        margin-top: 0;
        float: left;
        min-height: 0!important;
        position: relative;
    }
    
    .newsCont3{
        width: 100%!important;
        height: calc(174px - 10px);
        margin-left: 0;
        margin-right: 0;
        margin-top: 7px;
        margin-bottom: 7px;
        float: left;
        min-height: 0!important;
        position: relative;
    }
    
    .newsCont4{
        width: 100%!important;
        height: calc(174px - 10px);
        margin-left: 0;
        margin-right: 0;
        margin-top: 8px;
        margin-bottom: 0;
        float: left;
        min-height: 0!important;
        position: relative;
    }
    
    .smallNewsCont{
        width: calc(30% - 16px) !important;
        height: 522px;
        border-radius: 10px;
        margin-right: 8px;
        margin-top: 8px;
        margin-left: 8px;
    }
    
}

@media all and (min-width: 840px) and (max-width: 1023px){
    
    .newsCont5{
        width: calc(25% - 16px)!important;
        height: 250px;
        border-radius: 10px;
    }

    .newsCont6{
        width: calc(25% - 16px)!important;
        height: 250px;
        border-radius: 10px;
    }

    .newsCont7{
        width: calc(25% - 16px)!important;
        height: 250px;
        border-radius: 10px;
    }

    .newsCont8{
        width: calc(25% - 16px)!important;
        height: 250px;
        border-radius: 10px;
    }
    
    .newsCont5 .mdl-card__supporting-text,
    .newsCont6 .mdl-card__supporting-text,
    .newsCont7 .mdl-card__supporting-text,
    .newsCont8 .mdl-card__supporting-text{display:none;}
    
    .newsCont5 .mdl-card__title h4,
    .newsCont6 .mdl-card__title h4,
    .newsCont7 .mdl-card__title h4,
    .newsCont8 .mdl-card__title h4{font-size:15px;}
}

@media all and (min-width: 1024px){
        
            /*** NEWS ***/
    
    #newsContainer{max-width: 1121px !important;}
    
    .newsCont1{
        width: calc(50% - 16px)!important;
        height: 522px;
        border-radius: 10px;
        margin-right: 8px;
    }
    
    .bigTitle{
        z-index:20;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.4) !important;
    }
    
    .bigTitle h4,.bigTitle span{color: #fff !important;}
    
    .bigMedia{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    .bigMedia img{
        width: 100%;
        height: 100%;
    }
    
    .smallMedia{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    .smallTitle{
        z-index:20;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.4) !important;
        /*border-radius: 10px 10px 0 0;*/
    }
    
    .mdl-card__title a{
        text-decoration: none;
    }
    
    .smallTitle h4{
        color: #fff !important;
    }
    
    .smallNewsCont{
        width: calc(20% - 16px) !important;
        height: 522px;
        border-radius: 10px;
        margin-right: 8px;
        margin-top: 8px;
        margin-left: 8px;
    }
    
    .smallNewsCont img{
        width: 100%;
        height: 100%;
    }   
    
    .mdl-card__actions{z-index: 20;}
    
    .mdl-card__supporting-text{}

    .android-news-section{
        padding: 80px 0;
        max-width: 1210px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .newsCont2{
        width: 100%!important;
        height: calc(174px - 10px);
        border-radius: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8px;
        margin-top: 0;
        float: left;
        min-height: 0!important;
        position: relative;
    }
    
    .newsCont3{
        width: 100%!important;
        height: calc(174px - 10px);
        border-radius: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 7px;
        margin-bottom: 7px;
        float: left;
        min-height: 0!important;
        position: relative;
    }
    
    .newsCont4{
        width: 100%!important;
        height: calc(174px - 10px);
        border-radius: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 8px;
        margin-bottom: 0;
        float: left;
        min-height: 0!important;
        position: relative;
    }
    
    .newsCont5{
        width: calc(30% - 16px)!important;
        height: 522px;
        border-radius: 10px;
    }

    .newsCont6{
        width: calc(25% - 16px)!important;
        height: 500px;
        border-radius: 10px;
    }

    .newsCont7{
        width: calc(25% - 16px)!important;
        height: 500px;
        border-radius: 10px;
    }

    .newsCont8{
        width: calc(50% - 16px)!important;
        height: 500px;
        border-radius: 10px;
    }
    
    .newsCont1:hover,
    .newsCont2:hover,
    .newsCont3:hover,
    .newsCont4:hover,
    .newsCont5:hover,
    .newsCont6:hover,
    .newsCont7:hover,
    .newsCont8:hover{
        box-shadow:0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
    }
    
}   