@charset "utf-8";


/*** SOON PRODUCTS ***/

.android-screens{padding-bottom:30px;}

input[name="group2"],input[name="group3"]{
    opacity: 0;
    width: 0;
    height: 0;
}

#productCont .fa-gamepad,
#productCont .fa-playstation,
#productCont .fa-xbox,
#productCont .fa-nintendo-switch,
#productCont .fa-windows,
#productCont .fa-film{
    color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

#productCont .soonLabel:hover .fa-gamepad,
#productCont .soonLabel:hover .fa-playstation,
#productCont .soonLabel:hover .fa-xbox,
#productCont .soonLabel:hover .fa-nintendo-switch,
#productCont .soonLabel:hover .fa-windows,
#productCont .soonLabel:hover .fa-film{
    color: #fff;
}

#productCont input[type="radio"]:checked + label{
    background-color: #8bc34a;
    color: #fff;
}

#productCont input[type="radio"]:checked + label > i{
    color: #fff;
}

.consoleIconCurr{color: #fff;}

.soonLabel{
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 5px;
    margin-right: 7px;
    padding: 0px 10px 0px 10px;
    transition: 0.4s;
}

.soonLabel:hover{
    background-color: #8bc34a;
    color: #fff;
    cursor: pointer;
}

.soonCurrent{
    background-color: #8bc34a;
    color: #fff;
}

#productCont{
    margin: 100px 30px 0;
    float: left;
    width: 90%;
}

#chips{
    margin: 0 30px 50px 30px;
    float: left;
    width: 90%;
    text-align: left;
}

.chipsClass{
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0px 10px 0px 10px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

#chips input[type="radio"]:checked + label{
    border: solid 2px #8bc34a;
    background-color: transparent;
    box-sizing: border-box;
    line-height: 27px;
}

.chipsClass:hover{
    border: solid 2px #8bc34a;
    background-color: transparent;
    box-sizing: border-box;
    line-height: 27px;
    cursor: pointer;
}

.chipsCurrent{
    border: solid 2px #8bc34a;
    background-color: transparent;
    box-sizing: border-box;
    line-height: 27px;
}

#productSearch{
    width: 150px;
    position: relative;
    bottom: 2px;
    left: 10px;
    border: none;
    /*border-bottom:solid 1px #ccc;*/
    /*border-radius: 20px;*/
    padding: 5px 35px;
    font-size: 15px;
}

#productSearch:hover + label i{
    color: #8bc34a;
}

#productSearch + label{
    position: relative;
    right: 208px;
    top: 5px;
    z-index: 10;
}

#productSearch + label i{
    color: #666;
    transition: 0.3s;
}

#productSearch:focus + label i{color:#8bc34a}

.modal-title{color:#8bc34a;}

.modal-dialog{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
    border-radius: 0 0 20px 20px;
}

.modal-content{
    border-radius: 20px!important;
}

.modalDate{
    position: absolute;
    left: 25px;
    color: #8bc34a;
    font-size: 20px;
}

.modal-desc{
    float: left;
    width: 60%;
    text-align: left;
}

.modalButton{
    box-sizing: border-box;
    border: solid 1px #666;
    border-radius: 3px;
    background: #fff;
    height: 35px;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
    transition: .2s;
}

.modalButton i{transition: .2s;}

.modalButton:hover{
    color: #fff;
    background-color: #8bc34a;
    border: none;
}

.modalButton:hover i{color: #fff;}

.closeModal{
    position: absolute;
    right: 20px;
    top: 55px;
    cursor: pointer;
}

.closeModal i{
    color: #999;
    font-size: 20px;
}

.modalButton i{
    color: #666;
    font-size: 14px;
}

.modal-desc-text{
    float: left;
    text-align: left;
    white-space: normal;
}

.modal-desc-text:after{
    content: '...';
}

.read-more-state:checked ~ .modal-desc-text:after{
    content: '';
}

.read-more-state {
  display: none;
}

.read-more-target {
  display: none;    
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .modal-desc-text .read-more-target {
  display:inline;    
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {    
  content: 'Mostra di più';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Mostra meno';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  color: #8bc34a;
  font-size: 1em;
  line-height: 2;
  position: absolute;
  bottom: 10px;
  right: 20px;    
}

.modalImg{
    margin-right: 15px;
    text-align: center;
    width:200px;
    height:auto;
    border-radius: 6px;
    position: relative;
}

.soon1{
    display: inline-block;
    margin-right: 80px;
    margin-left: 20px;
    text-align: center;
    width:200px;
    height:auto;
    transition:0.3s;
    border-radius: 6px;
    position: relative;
}

.soon2{
    display: inline-block;
    margin-right: 80px;
    width:170px;
    height:auto;
    transition:0.3s;
    border-radius: 6px;
}

.soon3{
    display: inline-block;
    margin-right: 64px;
    width:140px;
    height:auto;
    transition:0.3s;
    border-radius: 6px;
}

.soon4{
    display: inline-block;
    margin-right: 48px;
    width:110px;
    height:auto;
    transition:0.4s;
    border-radius: 6px;
}

.soon5{
    display: inline-block;
    margin-right: 32px;
    width:90px;
    height:auto;
    transition:0.4s;
    border-radius: 6px;
}

.soon1 img{width:100%;height:auto;border-radius: 6px;}
.soon2 img{width:100%;height:auto;border-radius: 6px;}
.soon3 img{width:100%;height:auto;border-radius: 6px;}
.soon4 img{width:100%;height:auto;border-radius: 6px;}
.soon5 img{width:100%;height:auto;border-radius: 6px;}

/*.pHover{transition-duration:.3s;}*/

.pHover:hover{width: 200px;}

.android-screen:hover img{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.android-screen:hover .overlay {
    transform: scale(1);
    box-shadow:0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
}

.fa-heart{color:#8bc34a;font-size:25px;}

.overlay{
  position: absolute;
  bottom: 7px;
  right: 7px;
  height: 55px;
  width: 55px;
  transform: scale(0);
  transition: .3s cubic-bezier(0.53, 0.01, 0.36, 1.63);
  background-color: white;
  border-radius: 50%;
}

.text{
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;    
}


/*** NEWS PRODUCTS ***/


.soonNews1,
.soonNews2,
.soonNews3,
.soonNews4,
.soonNews5{
    display: inline-block;
    margin-right: 80px;
    margin-left: 20px;
    text-align: center;
    width:200px;
    height:auto;
    transition:0.3s;
    border-radius: 6px;
}

.soonNews1 img,
.soonNews2 img,
.soonNews3 img,
.soonNews4 img,
.soonNews5 img{width:100%;height:auto;border-radius: 6px;}


/*** PAGINATION ***/

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.pagination{position:absolute;bottom:-20px;right:50px;}

.pagination li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 30px;
}

.pagination li a {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
}

.pagination li.active a {
  color: #fff;        
}

.pagination li.active {
  background-color: #8bc34a;
}

.pagination li.disabled a {
  cursor: default;
  color: #999;
}

.pagination li i {
  font-size: 2rem;
}

.pagination li.pages ul li {
  display: inline-block;
  float: none;
}