form{width:300px;
    height:200px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-100px;
}
span{color:#8bc34a;font-size:15px;display:block;margin:5px 0}
input[type=text],input[type=password]{
    width: 90%;    
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: 0.3s;
    outline:none;
    font-size: 15px;
}
input[type=submit]{
    border: none;
    border-radius: 3px;
    background: #8bc34a;
    height: 35px;
    color: #fff;
    right: 10px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
}